<footer id="end-footer" class="mt-5 py-2">
    <div class="container">
        <div class="row">
            <!-- Website links -->
            <div class="col-2">
                <a href="/">Home</a>
                <br>
                <a href="/about-me">About</a>
                <br>
                <a href="/portfolio">Portfolio</a>
                <br>
                <a href="/resume">Resume</a>
                <br>
                <a href="/photography">Photography</a>
            </div>
            <!-- Logo -->
            <div class="col-8">
                <img src="/img/BEN-logo-transparent.png" width="150" alt=""> 
                <p><strong>&copy;2021 Brian E. Nguyen</strong></p>
            </div>
            <!-- External websites -->
            <div class="col-2">
                <a href="https://github.com/Brian-E-Nguyen/">GitHub</a>
                <br>
                <a href="https://www.linkedin.com/in/brian-edison-nguyen/">LinkedIn</a>
            </div>
        </div>
    </div>
</footer>