<footer id="end-footer">
    <div class="container">
        <div class="row">
            <!-- Website links -->
            <div class="col-2">
                <a href="/">Home</a>
                <br>
                <a href="/about-me">About</a>
                <br>
                <a href="/portfolio">Portfolio</a>
                <br>
                <a href="/resume">Resume</a>
                <br>
                <a href="/photography">Photography</a>
            </div>
            <!-- Logo -->
            <div class="col-8">
                
            </div>
            <!-- External websites -->
            <div class="col-2">
                
            </div>
        </div>
    </div>
</footer>