<footer  class="mt-5">
    <div id="end-footer">
        <div class="container">
            <div class="row text-center d-flex justify-content-center pt-5 mb-3">
                <div class="col-md-2">
                    <h6 class="footer-link">
                        <a href="/about-me">About</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="footer-link">
                        <a href="/portfolio">Portfolio</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="footer-link">
                        <a href="/resume">Resume</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="footer-link">
                        <a href="/photography">photography</a>
                    </h6>
                </div>
                <div class="col-md-2">
                    <h6 class="footer-link">
                        <a href="/contact">Contact</a>
                    </h6>
                </div>
            </div>
            <hr class="light">
            <div class="text-center">
                <a href="/">
                    <img class="my-3" src="/img/BEN-logo-transparent.png" width="200" alt="">
                </a>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-5 flex-center">
                        <!-- Github -->
                        <a href="https://github.com/Brian-E-Nguyen/">
                            <i class="fab fa-github fa-3x mx-2 footer-icon"> </i>
                        </a>
                        <!--Linkedin -->
                        <a href="https://www.linkedin.com/in/brian-edison-nguyen/">
                            <i class="fab fa-linkedin fa-3x mx-2 footer-icon"> </i>
                        </a>
                        <!--Instagram-->
                        <a href="https://www.instagram.com/b_rye_the_asian_spy/">
                            <i class="fab fa-instagram fa-3x mx-2 footer-icon"> </i>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-copyright">
         &copy; 2021 Brian E. Nguyen. All rights reserved
    </div>
</footer>
