<nav id="home-navbar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center ">
                    <a class="navlink active" href="/">Home</a>
                    <a class="navlink" href="/about-me">About</a>
                    <a class="navlink" href="/portfolio">Portfolio</a>
                    <a class="navlink" href="/resume">Resume</a>
                    <a class="navlink" href="/photography">Photography</a>
                    <a class="navlink" href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </div>
</nav>