<!-- Photo Gallery -->
<div class="text-center container">
    <h1 class="display-4">Photo Gallery</h1>
    <h3>Some recent photos in my life</h3>
    <div class="row">
        <div class="col-md-4">
            <a href="/img/DSC_0252.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_0252.jpg" class="img-fluid gallery-image img-thumbnail my-2">
            </a>
        </div>
        <div class="col-md-4">
            <a href="/img/DSC_0113.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_0113.jpg" class="img-fluid gallery-image img-thumbnail my-2">
            </a>
        </div>
        <div class="col-md-4">
            <a href="/img/DSC_0069.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_0069.jpg" class="img-fluid gallery-image img-thumbnail my-2">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="/img/DSC_0870.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_0870.jpg" class="img-fluid gallery-image img-thumbnail my-2">
            </a>
        </div>
        <div class="col-md-4">
            <a href="/img/DSC_0777.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_0777.jpg" class="img-fluid gallery-image img-thumbnail my-2">
            </a>
        </div>
        <div class="col-md-4">
            <a href="/img/DSC_0887.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_0887.jpg" class="img-fluid gallery-image img-thumbnail my-2">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="/img/DSC_0762.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_0762.jpg" class="img-fluid gallery-image img-thumbnail my-2">
            </a>
        </div>
        <div class="col-md-4">
            <a href="/img/DSC_0002.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_0002.jpg" class="img-fluid gallery-image img-thumbnail my-2">
            </a>
        </div>
        <div class="col-md-4">
            <a href="/img/DSC_0014.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_0014.jpg" class="img-fluid gallery-image img-thumbnail my-2">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="/img/DSC_0962.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_0962.jpg" class="img-fluid gallery-image img-thumbnail my-2">
            </a>
        </div>
        <div class="col-md-4">
            <a href="/img/DSC_1461.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_1461.jpg" class="img-fluid gallery-image img-thumbnail my-2">
            </a>
        </div>
        <div class="col-md-4">
            <a href="/img/DSC_0302.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_0302.jpg" class="img-fluid gallery-image img-thumbnail my-2">
            </a>
        </div>
    </div>
</div>
