<!-- Photo Gallery -->
<div class="text-center container">
    <h1 class="page-title">Photo Gallery</h1>
    <h3>Some recent photos in my life</h3>
    <div class="row">
        <% imageLinks.forEach((item, index) => { %>
            <div class="col-md-4">
                <a href="<%= item %>" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="<%= item %>" class="img-fluid gallery-image img-thumbnail my-2">
                </a>
            </div>
        <%  }); %>
    </div>
</div>


