<!-- Photo Gallery -->
<div class="text-center container">
    <h1>Photo Gallery</h1>
    <p>Some recent photos in my life</p>
    <div class="row">
        <div class="col-md-4">
            <a href="/img/DSC_0019.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_0019.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-md-4">
            <a href="/img/DSC_0336.jpg" data-toggle="lightbox" data-gallery="img-gallery">
                <img src="/img/DSC_0336.jpg" class="img-fluid">
            </a>
        </div>
    </div>
</div>
