<div class="alert alert-dark alert-dismissible fade show text-left" role="alert">
  <h4 id="privacy-title">Privacy Notice:</h4>
  <p id="privacy-description">I use Google Analytics, cookies, and other technologies to help me understand how you use this website.</p>
  <p><a href="/privacy-policy" id="privacy-link">Privacy Policy</a></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>