<div class="alert alert-dark alert-dismissible fade show" role="alert">
  <h3>Privacy Notice:</h3>
  <p>I use Google Analytics to help me understand how you use this website. <a href="">Privacy Policy</a></p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>