<div class="text-center">
    <div class="row">
        <div class="col-lg-4 my-3">
            <img src="/img/yelpcamp.jpg" width="350px" alt="" class="img-fluid img-thumbnail project-image">
            <div class="image-text-centered">
                <h3>YelpCamp</h3>
                <a href="/yelpcamp">
                    <button class="btn btn-outline-light">View Project</button>
                </a>
            </div>
        </div>
        <div class="col-lg-4 my-3">
            <img src="/img/yelpcamp.jpg" width="350px" alt="" class="img-fluid img-thumbnail project-image">
            <div class="image-text-centered">
                <h3>My Personal Website</h3>
                <button class="btn btn-outline-light">View Project</button>
            </div>
        </div>
        <div class="col-lg-4 my-3">
            <img src="/img/esports.jpg" width="350px" alt="" class="img-fluid img-thumbnail project-image">
            <div class="image-text-centered">
                <h4>Senior Project: Kraken Bracket</h4>
                <button class="btn btn-outline-light">View Project</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 my-3">
            <img src="/img/stats.jpg" width="350px" alt="" class="img-fluid img-thumbnail project-image">
            <div class="image-text-centered">
                <h3>EE 381 - Probability and Stats</h3>
                <button class="btn btn-outline-light">View Project</button>
            </div>
        </div>
        <div class="col-lg-4 my-3">
            <img src="/img/motherboard.jpg" width="350px" alt="" class="img-fluid img-thumbnail project-image">
            <div class="image-text-centered">
                <h4>SIMD Enhanced MIPS Instructions</h4>
                <button class="btn btn-outline-light">View Project</button>
            </div>
        </div>
    </div>
</div>