<% layout('layouts/boilerplate') %> 
<div class="container text-center">
    <div class="block-spacer"></div>
    <h1>Uh oh! 404 Error!</h1>
    <h3>The page that you are trying to reach does not exist.</h3>
    <h4>While you're here, I want to make your time worthwile. Here's a pic of my two dogs: Mimi and Kiki.</h4>
    <img src="https://res.cloudinary.com/buraiyen/image/upload/v1620240497/BEN_Website/mimi_and_kiki_wewtqv.jpg" 
        class="img-fluid img-thumbnail" 
        width="500px" 
        alt="">
    <div class="block-spacer"></div>
</div>