<% layout('layouts/boilerplate') %>
<div class="container text-center">
  <div class="block-spacer"></div>
  <h1>404 ERROR</h1>
  <h3>The page that you are trying to reach does not or no longer exists.</h3>
  <div class="block-spacer"></div>
</div>
