/* JUMBOTRON */
.jumbotron {
    padding: 15rem 10rem;
    font-family: Lato;
    color: white;
    background: no-repeat center;
    background-size: cover;
}

#about-jumbo {
    background-image: url('/img/DSC_0019.jpg');
}

#portfolio-jumbo {
    background-image: url('/img/DSC_0336.jpg');
}

#photography-jumbo {
    background-image: url('/img/DSC_0113.jpg');
}

#contact-jumbo {
    background-image: url('/img/DSC_0006.jpg');
}

@media (min-width: 0px) {
    .jumbo-text {
        font-size: 2rem;
        text-shadow: 0.1rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
        text-align: center;
    }
}

@media (min-width: 576px) {
    .jumbo-text {
        font-size: 5rem;
        text-shadow: 0.1rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
        text-align: left;
    }
}

@media (min-width: 768px) {
    .jumbo-text {
        font-size: 5rem;
        text-shadow: 0.1rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    }
}

@media (min-width: 992px) {
    .jumbo-text {
        font-size: 6rem;
        text-shadow: 0.1rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    }
}

@media (min-width: 1200px) {
    .jumbo-text {
        font-size: 5rem;
        text-shadow: 0.1rem 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    }
}

/* PARALLAX SCROLLING */
#parallax-1 {
    position: relative;
    min-height: 200px;
    background: url('/img/DSC_8367.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* PARALLAX SCROLLING */
#parallax-2 {
    position: relative;
    min-height: 200px;
    background: url('/img/DSC_0069.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/* QUOTE */
.blockquote {
    font-size: 1.75rem;
}

/* NAVBAR AND FOOTER */
nav.bg-dark {
    background-color: black !important;
}

.nav-link {
    font-size: 1.5em;
}

.nav-link:hover {
    color: white !important;
}

footer#end-footer {
    background-color: black;
    color: white;
    text-align: center;
}

#footer-link-list {
    padding-top: 10px;
}

.footer-link{
    color: rgba(255,255,255,.5);
}

.footer-link:hover {
    text-decoration: none;
    color: white;
}

/* IMAGES */
.rounded-image {
    border-radius: 70%;
}

.project-image {
    filter: brightness(50%);
}

.gallery-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    transition: .5s ease;
    filter: grayscale(100%);
}

.gallery-image:hover {
    transition: .5s ease;
    filter: grayscale(0%);
}

.image-text-centered {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.block-spacer{
    height: 150px;
}

/* PROJECTS */
.project-title {
    font-size: 76px;
    font-weight: 100;
    margin-bottom: 25px;
}

.project-description {
    font-size: 29px;
}

.project-description-sm {
    font-size: 20px;
}

.project-note-header {
    font-weight: 400;
    font-style: italic;
}

.next-project {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}

.next-project a {
    color: inherit;
    text-decoration: none;
    transition: 0.5s;
    padding-bottom: .05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.5);
}

.next-project a:hover {
    transition: .5s;
    color: rgba(0, 0, 0);
}