.jumbotron {
    background-size: cover;
}

nav.bg-dark {
    background-color: black !important;
}

.nav-link {
    font-size: 1.5em;
    border-bottom: 0.15rem solid transparent;
}

.nav-link:hover {
    color: white !important;
    border-bottom-color: white;
}

footer#end-footer {
    background-color: black;
    color: white;
    text-align: center;
}