<% layout('layouts/boilerplate') %> 
<div class="jumbotron jumbotron-fluid">
    <div class="container" id="about-jumbo">
        <h1>About Me</h1>
    </div>
</div>

<div class="container">
    <div class="blockquote text-center">
        <em>
            <p>A fulfilling life is not preoccupied with material objects, prestige, or power. <br>
            It is a life that is filled with true friendships, sharing, and caring for each other.</p> 
        </em>
        <footer class="blockquote-footer">Dharma Master Cheng Yen</footer>
    </div>
</div>
