<% layout('layouts/boilerplate') %> 
<div class="jumbotron jumbotron-fluid">
    <div class="container" id="about-jumbo">
        <h1>About Me</h1>
    </div>
</div>

<!-- Quote -->
<div class="container">
    <div class="blockquote text-center">
        <em>
            <p>A fulfilling life is not preoccupied with material objects, prestige, or power. <br>
            It is a life that is filled with true friendships, sharing, and caring for each other.</p> 
        </em>
        <footer class="blockquote-footer">Dharma Master Cheng Yen</footer>
    </div>
</div>

<!-- TODO: Put parallax scrolling image -->
<h1 class="display-3 text-center">So... who am I?</h1>

<!-- Info Section -->
<div class="container text-center">
    <h2>The General Gist</h2>
    <p>
        My name is Brian Edison Nguyen. I am a currently a senior at California State University, Long Beach
        studying
        computer science. I love programming, volunteering, playing video games, photography / cinematography, and
        so much more.
    </p>
    <hr>
    <div class="row">
        <!-- Programmer Info -->
        <div class="col-lg-6">
            <h3>Programmer</h3>
            <p>
                From the moment I wrote my first lines of code in my introductory programming course, I knew that
                this is something that I wanted to do for a career. There is a vast pool of resources in computer
                science that I am eager to discover, and that pool will only continue to grow. I am always motivated
                to learn new things about it and to improve my skills.
            </p>
        </div>
        <!-- TODO: Insert progamming image -->
        <div class="col-lg-6">Test</div>
        <div class="col-lg-6">
            <h3>Photographer</h3>
            <p>
                Capturing my life and others' through my lens has always been my favorite artform. There is a vast
                world out full of people, moments, and things out there, and that makes me willing to pick up my
                DSLR and explore the world. I usually do this for fun, though I do offer paid services depending on
                the situation.
            </p>
        </div>
        <!-- TODO: Insert photography image -->
        <div class="col-lg-6">Test</div>
    </div>
    <!-- Me vs. The World -->
    <div>
        <!-- TODO: Parallax scrolling image -->
        <h1>Me vs. The World</h1>
        <p>
            From the moment I have written my first script in Python, I knew that software development is the career choice for me. 
            Software development has allowed me to challenge myself and to improve on my skills, 
            not just in programming, but also on creativity and team-working. I hope to produce high-quality software and 
            web applications that will be used and appreciated by many. I am excited for what the future brings
        </p>
    </div>
</div>
