<% layout('layouts/main-boilerplate') %> 
<div id="contact-jumbo" class="jumbotron jumbotron-fluid">
    <h1 class="jumbo-text">Contact</h1>
</div>

<div class="container">
    <div class="text-center">
        <h1 class="page-title">Want to get in contact with me?</h1>
        <p class="sub-heading">Please fill out the form below. I look forward to hearing from you!</p>
    </div>
    <hr>
    <%- include('../components/contactForm') %>
</div>

<script src="/js/formValidation.js"></script>
<script src="/js/contactForm.js"></script>
