<% layout('layouts/boilerplate') %>
<div id="contact-jumbo" class="jumbotron jumbotron-fluid">
  <h1 class="jumbo-text">Contact</h1>
</div>

<div class="container"><%- include('../components/contactForm') %></div>

<script src="/js/93hnrgbauqv.js"></script>
<script src="/js/ikd9834jnga.js"></script>
