<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" type="text/css" href="/css/home.css">
<div id="main-content">
    <img src="/img/BEN-logo-transparent.png" width="250" alt="">
    <h1 id="name" class="display-2">Brian E. Nguyen</h1>
    <p class="display-4">I'm here to create magic</p>
    <div class="container">
        <hr class="light">
    </div>
    <a href="/about-me">
        <button class="btn btn-lg btn-primary">Let's Go</button>
    </a>
</div>
