<% layout('layouts/home-boilerplate') %> 
<div id="main-content">
    <img src="/img/BEN-logo-transparent.png" width="250" alt="">
    <h1 id="name" class="display-3">Brian E. Nguyen</h1>
    <p class="description">2020 computer science graduate and aspiring Full-Stack Developer</p>
    <div class="container">
        <hr class="light">
    </div>
    <a href="/about-me">
        <button class="btn-blue-dark">Let's Go</button>
    </a>
</div>