<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" type="text/css" href="/css/home.css">
<div id="main-content">
    <h1 id="name" class="display-2">Brian E. Nguyen</h1>
    <p class="display-4">I'm here to create magic</p>
    <br>
    <a href="/about-me">
        <button class="btn btn-lg btn-primary">Let's Go</button>
    </a>
</div>
