<% layout('layouts/main-boilerplate') %> 
<div class="jumbotron jumbotron-fluid" id="photography-jumbo">
    <div class="container">
        <h1 class="jumbo-text">Photography</h1>
    </div>
</div>

<div class="container">
    <!-- Intro -->
    <div class="text-center">
        <h1 class="display-4">Capturing Art Through The Lens</h1>
        <p>
            Photography gives me a great opportunity to capture the
            world around me, whether it will be people, cities,
            or nature. 
            <br>
            Every single photo that you see on this website was shot / edited by me.
        </p>
        <hr>
    </div>
    <!-- Utilities -->
    <div>
        <h3>Camera</h3>
        <p>Nikon D5300</p>
        <h3>Lens</h3>
        <ul>
            <li>AF-S NIKKOR 35mm 1.8G</li>
            <li>AF-S NIKKOR 50mm 1.8G</li>
            <li>AF-S NIKKOR 55-300mm 4.5 - 5.6G ED</li>
            <li>AF-P NIKKOR 18 - 55mm 3.5 - 5.6G</li>
        </ul>
        <h3>Software</h3>
        <ul>
            <li>Adobe Lightroon Classic</li>
            <li>Adobe Premiere Pro CC 2018</li>
            <li>Adobe Photoshop CC 2018</li>
        </ul>
    </div>
</div>