<% layout('layouts/boilerplate') %>
<div class="jumbotron jumbotron-fluid" id="photography-jumbo">
  <h1 class="jumbo-text" id="photography-text">Photography</h1>
</div>

<div class="container">
  <!-- Intro -->
  <h1>Capturing Art Through The Lens</h1>
  <p class="sub-heading">
    Photography gives me a great opportunity to capture the world around me,
    whether it will be people, cities, or nature. Besides some photos on the
    "portfolio" page, every single photo that you see on this website was shot /
    edited by me.
  </p>
  <hr />

  <!-- Utilities -->
  <div>
    <h2>Utilities</h2>
    <div class="row">
      <div class="col-md-4">
        <h3>Cameras</h3>
        <ul>
          <li>Nikon Z50 <strong>*NEW*</strong></li>
          <li>Nikon D5300</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Lens</h3>
        <ul>
          <li>AF-S NIKKOR 35mm 1.8G</li>
          <li>AF-S NIKKOR 50mm 1.8G</li>
          <li>AF-S NIKKOR 55-300mm 4.5 - 5.6G ED</li>
          <li>AF-P NIKKOR 18 - 55mm 3.5 - 5.6G</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Software</h3>
        <ul>
          <li>Adobe Lightroon Classic</li>
          <li>Adobe Photoshop CC 2018</li>
        </ul>
      </div>
    </div>
  </div>
  <hr />
</div>

<%- include('../components/photo-gallery') %>
