<% layout('layouts/boilerplate') %> 
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Photography</h1>
    </div>
</div>

<div class="container">
    <!-- Intro -->
    <div class="text-center">
        <h1>Capturing Art Through The Lens</h1>
        <p>
            Photography gives me a great opportunity to capture the
            world around me, whether it will be people, cities,
            or nature. 
            <br>
            Every single photo that you see on this website was shot / edited by me.
        </p>
        <hr>
    </div>
    <!-- Utilities -->
    <div>
        <h3>Utilities</h3>
        <div class="row">
            <!-- Camera -->
            <div class="col-6">
                <strong>Camera</strong>
            </div>
            <div class="col-6">
                Nikon D5300
            </div>
            <!-- Lens -->
            <div class="col-6">
                <strong>Lens</strong>
            </div>
            <div class="col-6">
                <ul>
                    <li>AF-S NIKKOR 35mm 1.8G</li>
                    <li>AF-S NIKKOR 50mm 1.8G</li>
                    <li>AF-S NIKKOR 55-300mm 4.5 - 5.6G ED</li>
                    <li>AF-P NIKKOR 18 - 55mm 3.5 - 5.6G</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Software -->
    <div>
        <div class="row">
            <div class="col-6">
                <strong>Software</strong>
            </div>
            <div class="col-6">
                <ul>
                    <li>Adobe Lightroon Classic</li>
                    <li>Adobe Premiere Pro CC 2018</li>
                    <li>Adobe Photoshop CC 2018</li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <!-- Photo Gallery -->
    <div>
        <div class="text-center">
            <h1>Photo Gallery</h1>
            <p>Some recent photos in my life</p>
        </div>
    </div>
</div>