<% layout('layouts/main-boilerplate') %> 
<div class="jumbotron jumbotron-fluid" id="portfolio-jumbo">
    <div class="container">
        <h1 class="jumbo-text">Portfolio</h1>
    </div>
</div>

<div class="container text-center">
    <a href="https://github.com/Brian-E-Nguyen">
        <img src="/img/github_logo.png" alt="" width="200px">
        </a>
    <h4 class="my-4">All of my work can be found on my GitHub page</h4>
    <a href="https://github.com/Brian-E-Nguyen">
        <button class="btn-blue">GitHub Profile</button>
    </a>
    <div class="my-3">
        <hr>
        <h3>Some Example Work</h3>
        <%- include('../components/projects') %>
    </div>
</div>
