<% layout('layouts/boilerplate') %> 
<div class="jumbotron">
    <div class="container">
        <h1>Portfolio</h1>
    </div>
</div>

<div class="container">
    <!-- TODO: insert giant GitHub logo that links to GitHub-->
    <p>All of my work can be found on my GitHub page</p>
    <a href="https://github.com/Brian-E-Nguyen">Here!</a>
    <h3 class="text-center">Some Example Work</h3>
    <!-- TODO: Create Bootstrap Cards for different projects -->
</div>