<% layout('layouts/boilerplate') %>
<div class="jumbotron jumbotron-fluid" id="portfolio-jumbo">
  <h1 class="jumbo-text">Portfolio</h1>
</div>

<div class="container text-center">
  <a href="https://github.com/Brian-E-Nguyen" id="portfolio-github">
    <i class="fab fa-github fa-10x mx-2"> </i>
  </a>
  <h4 class="my-4">All of my work can be found on my GitHub page</h4>
  <a href="https://github.com/Brian-E-Nguyen">
    <button class="btn-blue">GitHub Profile</button>
  </a>
  <div class="my-3">
    <hr />
    <%- include('../components/projects') %>
  </div>
</div>
