<% layout('layouts/boilerplate') %> 
<div class="container">
    <h1 class="text-center">Brian E. Nguyen</h1>
    <div class="row">
        <div class="col-sm-6">
            <a href="https://github.com/Brian-E-Nguyen/">github.com/Brian-E-Nguyen</a>
            <br>
            <a href="https://www.linkedin.com/in/brian-edison-nguyen/">linkedin.com/in/brian-edison-nguyen/</a>
        </div>
        <div class="col-sm-6 text-right">
            <p>brian.edison.nguyen@gmail.com</p>
        </div>
    </div>
    <!-- Overview -->
    <div>
        <h3 class="text-center">Overview</h3>
        <hr>
        <p>Recent computer science graduate currently seeking a full-time entry-level position in full-stack development</p>
    </div>
    <!-- Education -->
    <div>
        <h3 class="text-center">Education</h3>
        <hr>
        <div class="row">
            <div class="col">
                <strong>California State University, Long Beach</strong>
                <br>
                <em>Bachelor of Science, Computer Science</em>
            </div>
            <div class="col text-right">
                Aug. 2016 - May 2020
                <br>
                <em>GPA: 3.05</em>
            </div>
        </div>
    </div>
    <!-- Experience -->
    <div>
        <h3 class="text-center">Experience</h3>
        <hr>
        <div class="row">
            <div class="col">
                <strong>Code Ninjas</strong>
                <br>
                <em>Code Instructor</em>
            </div>
            <div class="col text-right">
                Aug. 2020 - Present
                <br>
                <em>Cerritos, CA</em>
            </div>
        </div>
        <ul>
            <li>Tutored children with Scratch and JavaScript languages to build video games</li>
            <li>Helped debug students’ errors in games which then increased productivity in completing projects</li>
            <li>Developed and led a game-building camp that had a 100% satisfaction rate</li>
        </ul>
    </div>
</div>

