<% layout('layouts/boilerplate') %> 
<div class="container">
    <h1 class="text-center">Brian E. Nguyen</h1>
    <div class="row">
        <div class="col-sm-6">
            <a href="https://github.com/Brian-E-Nguyen/">github.com/Brian-E-Nguyen</a>
            <br>
            <a href="https://www.linkedin.com/in/brian-edison-nguyen/">linkedin.com/in/brian-edison-nguyen/</a>
        </div>
        <div class="col-sm-6 text-right">
            <p>brian.edison.nguyen@gmail.com</p>
        </div>
    </div>
</div>

