<% layout('layouts/boilerplate') %>

<div id="resume-jumbo" class="jumbotron jumbotron-fluid">
  <h1 class="jumbo-text">Resume</h1>
</div>
<div class="container my-3">
  <div class="text-center">
    <a
      href="https://drive.google.com/file/d/1mq8nlDR7drOW-VcDWM40j3t9PZ296srB/view?usp=sharing"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button class="btn-blue my-4">Download Resume &RightArrow;</button>
    </a>

    <h1 class="text-center">Brian E. Nguyen</h1>
  </div>
  <div class="resume">
    <div class="row">
      <div class="col-sm-6">
        <a href="https://www.brianenguyen.com/">brianenguyen.com</a>
        <p>brian.edison.nguyen@gmail.com</p>
      </div>
      <div class="col-sm-6" id="resume-right-side">
        <a href="https://github.com/Brian-E-Nguyen/"
          >github.com/Brian-E-Nguyen</a
        >
        <br />
        <a href="https://www.linkedin.com/in/brian-edison-nguyen/"
          >linkedin.com/in/brian-edison-nguyen/</a
        >
      </div>
    </div>

    <!-- Overview -->
    <div class="resume-block">
      <h3 class="resume-header">Overview</h3>
      <hr />
      <p>
        Bachelor’s of Science in Computer Science graduate seeking an internship
        or full-time entry-level position in full-stack development
      </p>
    </div>
    <!-- Education -->
    <div class="resume-block">
      <h3 class="resume-header">Education</h3>
      <hr />
      <div class="row">
        <div class="col">
          <strong>California State University, Long Beach</strong>
          <br />
          <em>B.S. in Computer Science (GPA: 3.05)</em>
        </div>
        <div class="col text-right">
          <strong>Long Beach, CA</strong>
          <br />
          <em>Graduation Date: May 2020</em>
        </div>
      </div>
    </div>
    <!-- Experience -->
    <div class="resume-block">
      <h3 class="resume-header">Relevant Work Experience</h3>
      <hr />
      <div class="row">
        <div class="col">
          <strong>Code Ninjas</strong>
          <br />
          <em>Code Instructor</em>
        </div>
        <div class="col text-right">
          <strong>Cerritos and Fullerton, CA</strong>
          <br />
          <em>Aug. 2020 — Present</em>
        </div>
      </div>
      <ul>
        <li>
          Tutored children on programming fundamentals using JavaScript, Lua,
          and Scratch coding languages
        </li>
        <li>
          Assisted children in creating video games and helped debugged errors,
          which increased the completion rate by 50%
        </li>
        <li>
          Developed and led multiple STEM and game building camps that had an
          overall 95% satisfaction rate
        </li>
      </ul>
    </div>
    <!-- Relevant Projects -->
    <div class="resume-block">
      <h3 class="text-center">Projects</h3>
      <hr />
      <!-- My Personal Portfolio -->
      <div class="my-4">
        <div class="row">
          <div class="col">
            <strong>Personal Portfolio</strong> |
            <a href="https://github.com/Brian-E-Nguyen/BEN-Website"
              >Link to GitHub repo</a
            >
          </div>
          <div class="col text-right">
            <strong>April 2021</strong>
          </div>
        </div>
        <ul>
          <li>
            Created six main pages, which includes a home page, portfolio page,
            resume page, and contact page
          </li>
          <li>
            Front-end developed with Embedded JavaScript, CSS, and Bootstrap 4
          </li>
          <li>Back-end developed with JavaScript and Express</li>
        </ul>
      </div>
      <!-- YelpCamp -->
      <div class="my-4">
        <div class="row">
          <div class="col">
            <strong>YelpCamp</strong> |
            <a href="https://bit.ly/39oV95Z">Link</a>
            <br />
          </div>
          <div class="col text-right"><strong> March 2021</strong></div>
        </div>
        <p>
          Inspired by Yelp, YelpCamp allows users to view and create camping
          places from around the world, and to create reviews on campgrounds
        </p>
        <ul>
          <li>
            Front-end developed with Bootstrap 5, Embedded JavaScript, CSS3
          </li>
          <li>Back-end developed with Express.js and MongoDB</li>
          <li>
            Developed CRUD operations for campgrounds and reviews so that users
            can utilize them
          </li>
          <li>
            Added security to prevent Mongo injection and cross-site scripting
          </li>
          <li>Utilized Express Session & Passport for user authentication</li>
          <li>
            Incorporated Mapbox API to display published campgrounds on an
            interactive map
          </li>
        </ul>
      </div>
      <!-- Senior Project: Kraken Bracket -->
      <div class="my-4">
        <div class="row">
          <div class="col">
            <strong>Senior Project: Kraken Bracket</strong> |
            <a href="https://bit.ly/3w7tD6Y">Link</a>
            <br />
          </div>
          <div class="col text-right"><strong> May 2020</strong></div>
        </div>
        <p>
          An alternative bracket-creation app, Kraken Bracket aims to provide a
          more streamlined service for users and to promote more social aspects
          between tournament players, spectators, and organizers
        </p>
        <ul>
          <li>Year-long project consisting of six members</li>
          <li>
            Front-end developed with Vue.js framework with SPA architecture
          </li>
          <li>
            Backend developed with ASP .NET Core 2.2 for web API’s and .NET Core
            2.2 for business rules/data access
          </li>
          <li>
            Designed and implemented a user management module to automatically
            create, update, and delete users using MySQL. Module used for admins
            and system admins for testing purposes
          </li>
          <li>
            Produced unit and E2E testing for various front-end and back-end
            features
          </li>
          <li>
            Taught all team members Vue.js fundamentals; improved productivity
            by 20%
          </li>
          <li>Followed Agile through Scrum Methodology</li>
          <li>
            Dealt with scope creep and resource creep. Developed remote work
            skills
          </li>
        </ul>
      </div>
    </div>
    <!-- LEADERSHIP / EXTRACURRICULAR -->
    <div class="resume-block">
      <h3 class="resume-header">Leadership / Extracurricular</h3>
      <hr />
      <div class="row">
        <div class="col">
          <strong>Tzu Chi Foundation</strong>
          <br />
          <em
            >President of The Tzu Chi Collegiate Association, CSULB & General
            Volunteer</em
          >
        </div>
        <div class="col text-right">
          <strong>Long Beach, CA</strong>
          <br />
          <em>Aug. 2016 — Present</em>
        </div>
      </div>
      <ul>
        <li>
          Served as the president during senior year at the CSULB collegiate
          chapter
        </li>
        <li>
          Managed organization with 3 board members to host monthly meetings and
          volunteering events
        </li>
        <li>
          Helped revitalize student interest in the organization; gained a 200%
          increase in new members during the 2019-2020 school year
        </li>
        <li>
          Participated in various in-person and online volunteering events, such
          as food packaging, tutoring services, and medical outreaches
        </li>
      </ul>
    </div>
  </div>
</div>
