<% layout('layouts/boilerplate') %>

  <div id="resume-jumbo" class="jumbotron jumbotron-fluid">
    <h1 class="jumbo-text">Resume</h1>
  </div>
  <div class="container my-3">
    <div class="text-center">
      <a
        href="https://1drv.ms/b/s!AnyQiQkjw1Aigf8qFXwHXALKmg8raA?e=hdt5w1"
        target="_blank"
        rel="noopener noreferrer"
      >
        <button class="btn-blue my-4">Download Resume &RightArrow;</button>
      </a>

      <h1 class="text-center">Brian E. Nguyen</h1>
    </div>
    <div id="resume">
    <div class="row">
      <div class="col-sm-6">
        <a href="https://www.brianenguyen.com/">brianenguyen.com</a>
        <p>brian.edison.nguyen@gmail.com</p>
      </div>
      <div class="col-sm-6" id="resume-right-side">
        <a href="https://github.com/Brian-E-Nguyen/"
          >github.com/Brian-E-Nguyen</a
        >
        <br />
        <a href="https://www.linkedin.com/in/brian-edison-nguyen/"
          >linkedin.com/in/brian-edison-nguyen/</a
        >
      </div>
    </div>
    <!-- Overview -->
    <div class="resume-block">
      <h3 class="resume-header">Overview</h3>
      <hr />
      <p>
        Bachelor’s of Science in Computer Science graduate seeking an internship or full-time entry-level position in
        full-stack development
      </p>
    </div>
    <!-- Education -->
    <div class="resume-block">
      <h3 class="resume-header">Education</h3>
      <hr />
      <div class="row">
        <div class="col">
          <strong>California State University, Long Beach</strong>
          <br />
          <em>B.S. in Computer Science (GPA: 3.05)</em>
        </div>
        <div class="col text-right">
          <strong>Long Beach, CA</strong>
          <br />
          <em>Graduation Date: May 2020</em>
        </div>
      </div>
    </div>
    <!-- Experience -->
    <div class="resume-block">
      <h3 class="resume-header">Relevant Work Experience</h3>
      <hr />
      <div class="row">
        <div class="col">
          <strong>Code Ninjas</strong>
          <br />
          <em>Code Instructor</em>
        </div>
        <div class="col text-right">
            <strong>Cerritos and Fullerton, CA</strong>
          <br />
          <em>Aug. 2020 — Present</em>
        </div>
      </div>
      <ul>
        <li>
          Tutored children on programming fundamentals using JavaScript, Lua, and Scratch coding languages
        </li>
        <li>
            Assisted children in creating video games and helped debugged errors, which increased the completion rate by 50%
        </li>
        <li>
            Developed and led multiple STEM and game building camps that had an overall 95% satisfaction rate
        </li>
      </ul>
    </div>
    <!-- Relevant Projects -->
    <div class="resume-block">
      <h3 class="text-center">Relevant Projects</h3>
      <hr />
      <!-- YelpCamp -->
      <div class="my-4">
        <div class="row">
          <div class="col">
            <strong>YelpCamp</strong>
            <br />
            <a href="https://bit.ly/39oV95Z">Link</a>
          </div>
          <div class="col text-right">Nov. 2020 - Mar. 2021</div>
        </div>
        <p>
          Inspired by Yelp, YelpCamp allows users to view and create camping
          places from around the world, and to create reviews on campgrounds
        </p>
        <ul>
          <li>
            Frontend developed with Bootstrap 5, Embedded JavaScript, CSS3
          </li>
          <li>Backend developed with Express.js and MongoDB</li>
          <li>Follows MVC architecture</li>
          <li>Developed CRUD operations for campgrounds and reviews</li>
          <li>Utilized Express Session & Passport for user authentication</li>
          <li>
            Utilized Express Mongoose Sanitize to prevent Mongo injection and
            Helmet to prevent cross-site scripting
          </li>
          <li>
            Utilized Mapbox API to display published campgrounds on an
            interactive map
          </li>
        </ul>
      </div>
      <!-- Senior Project: Kraken Bracket -->
      <div class="my-4">
        <div class="row">
          <div class="col">
            <strong>Senior Project: Kraken Bracket</strong>
            <br />
            <a href="https://bit.ly/3w7tD6Y">Link</a>
          </div>
          <div class="col text-right">Sept. 2019 - May 2020</div>
        </div>
        <p>
          An alternative bracket-creation app, Kraken Bracket aims to provide a
          more streamlined service for users and to promote more social aspects
          between tournament players, spectators, and organizers
        </p>
        <ul>
          <li>Year-long project consisting of six members</li>
          <li>
            Frontend developed with Vue.js framework, HTML5, CSS3 and JavaScript
            with SPA architecture
          </li>
          <li>
            Backend developed with ASP .NET Core 2.2 for web API’s and .NET Core
            2.2 for business rules/data access
          </li>
          <li>
            Designed and implemented a user management module to automatically
            create, update, and delete users using MySQL. Module used for admins
            and system admins for testing purposes
          </li>
          <li>
            Produced unit and E2E testing for various frontend and backend
            features
          </li>
          <li>Created tournament bracket components and various site views</li>
          <li>
            Taught all team members Vue.js fundamentals; improved productivity
            by 20%
          </li>
          <li>Utilized Git for version control</li>
          <li>Followed Agile through Scrum Methodology</li>
          <li>
            Dealt with scope creep and resource creep. Developed remote work
            skills
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>