<% layout('layouts/boilerplate') %>
<div class="container">
  <div class="block-spacer"></div>
  <h1 class="project-title">CSULB Tzu Ching</h1>
  <p class="project-description">
    Website made for my volunteering organization at my university: CSULB Tzu
    Ching
  </p>
  <div class="project-description-sm">
    <p>Tech stack:</p>
    <ul>
      <li>Vue.js</li>
      <li>Vuetify</li>
      <li>Animate.css</li>
      <li>Animate on Scroll (AOS)</li>
    </ul>
    <div class="my-3">
      <a href="https://github.com/Brian-E-Nguyen/CSULB-TC-Website">
        <button class="btn-blue">View Repository</button>
      </a>
    </div>

    <a href="https://www.csulbtzuching.org/">
      <button class="btn-blue">View Deployed Website</button>
    </a>
    <div class="text-center">
      <img
        src="https://res.cloudinary.com/buraiyen/image/upload/v1638552849/BEN_Website/projects/csulbtc1.png"
        class="my-3 img-fluid"
        width="1000px"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/buraiyen/image/upload/v1638552850/BEN_Website/projects/csulbtc2.png"
        class="my-3 img-fluid"
        width="1000px"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/buraiyen/image/upload/v1638552852/BEN_Website/projects/csulbtc3.png"
        class="my-3 img-fluid"
        width="1000px"
        alt=""
      />
      <img
        src="https://res.cloudinary.com/buraiyen/image/upload/v1638552856/BEN_Website/projects/csulbtc4.png"
        class="my-3 img-fluid"
        width="1000px"
        alt=""
      />
      <div class="block-spacer"></div>
      <h2 class="next-project">
        Next Project: <a href="/yelpcamp">YelpCamp</a>
      </h2>
    </div>
  </div>
</div>
