<% layout('layouts/boilerplate') %>
<div class="container">
  <div class="block-spacer"></div>
  <h1 class="project-title">EE 381 - Probability and Stats Computing</h1>
  <p class="project-description">
    This repository showcases all of my lab assignments from EE 381 - Probabilty
    and Stats Computing from my time at California State University, Long Beach.
  </p>
  <div class="project-description-sm">
    <p>These lab assignments touch upon the following subjects:</p>
    <ol>
      <li>Random Numbers and Stochastic Experiments</li>
      <li>Conditional Probabilities</li>
      <li>Binomial and Poisson Distributions</li>
      <li>Central Limit Theorem</li>
      <li>Confidence Intervals</li>
      <li>Markov Chains</li>
    </ol>
    <p>
      Refer to each project folder to view in-depth documentation. All
      assignments are coded with Python
    </p>
  </div>
  <a href="https://github.com/Brian-E-Nguyen/EE-381" target="_blank">
    <button class="btn-blue">View Repository</button>
  </a>

  <div class="text-center">
    <img
      src="https://res.cloudinary.com/buraiyen/image/upload/v1620240510/BEN_Website/projects/ee381_lkxiej.jpg"
      class="my-3 img-fluid"
      width="1000px"
      alt=""
    />
    <div class="block-spacer"></div>
    <h2 class="next-project">
      Next Project: <a href="/simd">SIMD MIPS Instructions</a>
    </h2>
  </div>
</div>
