<% layout('layouts/main-boilerplate') %> 
<div class="container">
    <div class="block-spacer"></div>
    <h1 class="project-title">Kraken Bracket</h1>
    <p class="project-description">
        Whether it is for a local tournament or an organized tournament, <strong>Kraken Bracket</strong> is meant to 
        make tournament experiences smoother for tournament organizers, competitors, and spectators alike.
    </p>
    <div class="project-description-sm">
        <p>
            Registered users have the ability to create tournament brackets and/or events. From there, other registered users 
            may sign up and participate in the brackets/events. Those who maintain brackets have the ability to update scores and move players 
            in the brackets. Once a bracket is finished, the bracket's page will display the standings of all competitors, 
            which is viewable for all users
        </p>
        <p>
            All brackets support at minimum 4 players and at maximum 128 players; Events encompass a collection of brackets, 
            so users can follow and be updated for all brackets within a single event.
        </p>
        <p>
            <strong>NOTE:</strong> this project is neither finished nor deployed. This yearlong project was developed from 2019 to 2020, 
            and the coronavirus lockdowns caused many problems for me and my team
        </p>
    </div>
    
    <a href="https://github.com/TheBoiZcecs491/Kraken-Bracket/tree/master">
        <button class="btn btn-lg btn-primary">View Repository</button>
    </a>
    <img class="my-3 img-fluid" src="img/krakenbracket.jpg" width="1000px" alt="">

</div>