<% layout('layouts/main-boilerplate') %> 
<div class="container">
    <div class="block-spacer"></div>
    <h1 class="project-title">Kraken Bracket</h1>
    <p class="project-description">
        Whether it is for a local tournament or an organized tournament, <strong>Kraken Bracket</strong>
        makes tournament experiences smoother for tournament organizers, competitors, and spectators alike.
    </p>
    <div class="project-description-sm">
        <p>
            Registered users have the ability to create tournament brackets and/or events. From there, other registered users 
            may sign up and participate in the brackets/events. Those who manage brackets can update scores and move players 
            in the brackets. Once a bracket is finished, the bracket's page will display the standings of all competitors, 
            which is viewable for all users.
        </p>
        <p>
            All brackets support at minimum 4 players and at maximum 128 players; events encompass a collection of brackets 
            so users can follow and be updated for all brackets within a single event.
        </p>
        <p>
            <strong>NOTE:</strong> this project is neither finished nor deployed. This yearlong project was developed from 2019 to 2020, 
            and the coronavirus lockdowns caused many problems for me and my team.
        </p>
    </div>
    
    <a href="https://github.com/TheBoiZcecs491/Kraken-Bracket/tree/master">
        <button class="btn-blue">View Repository</button>
    </a>
    <img class="my-3 img-fluid text-center" src="img/krakenbracket.jpg" width="1000px" alt="">
    <div class="block-spacer"></div>
    <div>
        <h4 class="project-note-header">Personal Notes:</h4>
        <p class="project-description-sm">
            Working on this project with my other five group members made me feel like I was working for a 
            software development company, and it was all thanks to our professor. He simulated the class so that it would be the same as one 
            would expect from working in a software development position; this includes documents (business requirements, project plans, sprint backlogs, etc.),
            core requirements, unit & integration tests, scope & resource creep, and frontend views
        </p>
        <p class="project-description-sm">
            My group and I spent countless hours to dedicate to our senior project. We met many times each week, both weekdays and weekends, at school to work 
            on our tasks. We would even spend 12 hours straight on a Saturday to work together. It was definitely a stressful experience and there are 
            many times that we wanted to give up. I would wake up every morning, panicking that I don't have a task done or that I might fail this class,
            because that was how hard it was.
        </p>
        <p class="project-description-sm">
            The coronavirus hit our class hard and everything had to shift online. Although meeting with my group members was easier online,
            it had a completely different dynamic than meeting in person. Furthermore, the class was not like what it used to be. It was taught
            in a different manner, and it was not as engaging as it was in person. Lastly, we were promised funds from Google
            to deploy our application, but we never received them. These hard times led to our project to be incomplete when 
            the semester ended.
        </p>
        <p class="project-description-sm">
            Overall, I am forever grateful for taking this class with the professor that I had. Although we experienced a lot of stress and 
            hardships, I have learned what it's like to be a software developer. I will take everything that I have learned in this class
            to heart and will apply my knowldege in my future positions.
        </p>
    </div>
    <div class="block-spacer"></div>
    <h2 class="next-project">Next Project: <a href="/ee-381">EE 381</a></h2>
</div>