<% layout('layouts/boilerplate') %>
<div class="container">
  <div class="block-spacer"></div>
  <h1 class="project-title">My Personal Website</h1>
  <p class="project-description">
    Website about me and to showcase my programming / photography work
  </p>
  <div class="project-description-sm">
    <p>Tech Stack:</p>
    <ul>
      <li>Embedded JavaScript / CSS</li>
      <li>Bootstrap 4</li>
      <li>Express.js</li>
    </ul>
  </div>
  <h4 class="project-note-header">Personal Notes:</h4>
  <div class="project-description-sm">
    <p>
      Creating this website was more than two years in the making. I started
      developing this back in 2019 with the concepts that I have learned from
      <a
        href="https://www.udemy.com/course/the-web-developer-bootcamp/"
        target="_blank"
        >Colt Steele's Web Dev Bootcamp</a
      >. The reason why this project took longer to complete was that I was
      eager to create my website midway through the course, so I used concepts
      that I already knew; however, I didn't know <em>enough</em> concepts to
      develop it, such as routing, file organization, components, and app
      deployment. This led me to become unmotivated to complete it sooner than I
      expected. I also had to take some time off from the boot camp to focus on
      my studies at CSULB.
    </p>
    <p>
      After I graduated in 2020, I wanted to finish the boot camp to gain more
      knowledge on web development. It was a difficult and time-consuming
      journey, but it was all worth it in the end. I took the new concepts that
      I've learned from that boot camp and completely reworked my website.
    </p>
  </div>
  <a href="https://github.com/Brian-E-Nguyen/BEN-Website" target="_blank">
    <button class="btn-blue">View Repository</button>
  </a>
  <div class="text-center">
    <div class="block-spacer"></div>
    <h2 class="next-project">
      Next Project: <a href="/kraken-bracket">Kraken Bracket</a>
    </h2>
  </div>
</div>
