<% layout('layouts/boilerplate') %> 
<div class="container">
    <div class="block-spacer"></div>
    <h1 class="project-title">SIMD Enhanced MIPS Instructions</h1>
    <p class="project-description">
        The purpose of this project is to create an Instruction Set Architecture (ISA) utilizing 
        the Million Instructions Per Second (MIPS) ISA. This process is documented
        in the Programmers Reference Manual which provides an in-depth understanding of computer architecture. 
    </p>
    <div class="my-3">
        <a href="https://github.com/Brian-E-Nguyen/SIMD-Enhanced-MIPS-Instructions/blob/master/SMID-Enhanced-MIPS-Instructions.pdf">
            <button class="btn-blue">View Documentation</button>
        </a>
    </div>
    <a href="https://github.com/Brian-E-Nguyen/SIMD-Enhanced-MIPS-Instructions">
        <button class="btn-blue">View Repository</button>
    </a>
    <div class="text-center">
        <img class="my-3 img-fluid" src="img/projects/simd.jpg" width="1000px" alt="">
        <div class="block-spacer"></div>
        <h2 class="next-project"><a href="/portfolio">Back to Portfolio</a></h2>
    </div>
</div>