<% layout('layouts/boilerplate') %>
<div class="container">
  <div class="block-spacer"></div>
  <h1 class="project-title">YelpCamp</h1>
  <p class="project-description">
    Looking for a place around the world to camp at? Inspired by Yelp,
    <strong>YelpCamp</strong> is a user-friendly application that allows users
    to create and view various camping places from all over the world and to
    write reviews on them.
  </p>
  <div class="project-description-sm">
    <p>Tech Stack:</p>
    <ul>
      <li>Embedded JavaScript / CSS / JavaScript</li>
      <li>Bootstrap 5</li>
      <li>MongoDB</li>
      <li>Express.js</li>
    </ul>
  </div>
  <div class="my-3">
    <a href="https://yelpcamp-brian-e-nguyen.herokuapp.com/" target="_blank">
      <button class="btn-blue">View Deployed App</button>
    </a>
  </div>
  <a href="https://github.com/Brian-E-Nguyen/YelpCamp" target="_blank">
    <button class="btn-blue">View Repository</button>
  </a>
  <img
    src="https://res.cloudinary.com/buraiyen/image/upload/v1620240514/BEN_Website/projects/yelpcamp_collage_tarzq8.jpg"
    class="my-3 img-fluid text-center"
    width="1000px"
    alt=""
  />
  <div class="block-spacer"></div>
  <h2 class="next-project">
    Next Project: <a href="/personal-website">My Personal Website</a>
  </h2>
</div>
