<% layout('layouts/main-boilerplate') %> 
<div class="container">
    <div class="block-spacer"></div>
    <h1 class="project-title">YelpCamp</h1>
    <p class="project-description">
        Looking for a place around the world to camp at? Inspired by Yelp, 
        YelpCamp is a user-friendly application that allows users to create and view 
        various camping places from all over the world and to write reviews on them
    </p>
</div>